@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #DFDAD8;
    --header-color: #B6ABA5;
    --book-cover: #F4F2F1;
    --book-layer: #CAC3BE;
    --button-cover: #8A7A71;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Macondo Swash Caps", Arial, sans-serif;
    background-color: var(--header-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 8px 8px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.sidebar {
    display: flex;
    gap: 50px;
}

.header-b {
    padding: 0.8rem 2rem;
    border-radius: 10px;
    background-color: var(--book-cover);
    border-style: none;
}

.header-b:hover {
    background-color: var(--main-color);
}

.content {
    grid-row: 2;
    display: grid;
}


.book-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);;
    gap: 100px;
}

.books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    position: relative;
}

.book {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    padding: 0.8rem 2rem;
    background-color: var(--book-cover);
    width: 25rem;
    height: 28rem;
    transition: all 0.5s ease;
    border-radius: 1rem;
    position: relative;
    font-family: "Delius Swash Caps", Arial, Helvetica, sans-serif;
}

.left {
    grid-column: 1;
    background-color: var(--book-layer);
    transform: translateX(40%) scale(0.85) rotate(-8deg);
    opacity: 0.7;
    z-index: 1;
}

.left:hover,
.center:hover,
.right:hover {
    scale: 1.1;
    opacity: 1;
    z-index: 4;
}

.center {
    grid-column: 2;
    background-color: var(--book-cover);
    transform: scale(1);
    z-index: 3;
}

.right {
    grid-column: 3;
    transform: translateX(-40%) scale(0.85) rotate(8deg);
    opacity: 0.7;
    z-index: 1;
    background-color: var(--book-layer);
}

.title {
    max-width: 100%;
    max-height: 100%;
}

.scroll-button {
    width: 80px;
    padding: 10px;
    border-radius: 40px;
    color: var(--book-cover);
    background-color: var(--button-cover);
    border-style: none;
}

/* Form */
.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--book-cover);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    z-index: 10;
    opacity: 0;
}

.popup-form.active {
    display: grid;
    justify-content: center;
    grid-template-columns: 2;
    grid-template-rows: 4;
    gap: 20px;
    background-color: var(--book-layer);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
#book-entry {
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
}

.input-rows{
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    gap: 10px;
}

.second-row,
.third-row {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.reading-status {
    grid-row: 3;
    grid-column: 1 / 3;
    text-align: center;
}

.submit-button {
    grid-row: 4;
    grid-column: 1 / 3;
    padding-block: 1rem;
    border-radius: 5px;
    background-color: var(--button-cover);
    border-style: none;
}

form input {
    border-color: var(--header-color);
    border-radius: 20px;
    padding-inline: 1.2rem;
}

select {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 0.7rem;
}

input {
    font-family: "Macondo Swash Caps", Arial, sans-serif;
    border-radius: 10px;
    padding: 0.5rem;
}

input[type="radio"] {
    accent-color: var(--button-cover);
}